@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anton", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.container__resultado{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    margin-bottom: 40px;
    font-size: 24px;
}